@model MvcProject.Web.Areas.Admin.ViewModels.Users.UserViewModel

<div class="container-fluid">
    <div class="row">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.MainRole)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.MainRole)
            @Html.ValidationMessageFor(model => model.MainRole)
        </div>
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.IsDeleted, "Mark as deleted")
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>
    </div>
</div>
