@model MvcProject.Web.Areas.Public.ViewModels.Comments.CommentPostViewModel

@using (Ajax.BeginForm(
    "CreateComment",
    "Comments",
    new { Area = "Public"},
    new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = (string)ViewData["UpdateTargetId"],
        HttpMethod = "POST",
        LoadingElementId = "loading-spinner"
    },
    new { id = "new-comment-form" }
    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.CreatedOn)
    @Html.HiddenFor(m => m.ModifiedOn)
    
    <div class="row">
        @Html.EditorFor(m => m.Content)
    </div>
    <div class="row">
        <input type="submit" value="post comment" class="btn btn-default" />
    </div>
}

<img id="loading-spinner" src="~/Content/Kendo/Silver/loading_2x.gif" style="display: none; text-align: center;">
<br />