@using MvcProject.Web.Areas.Public.ViewModels.Products

@model ProductImagesPartialViewModel

<div class="row image-in-focus">
    <img id="image-in-focus" src="@Url.ProductTmblPicture(Model.MainImage.UrlPath, Model.MainImage.FileExtension)"/>
    <a id="modal-link" href="@Url.ProductHiRezPicture(Model.MainImage.UrlPath, Model.MainImage.FileExtension)" style="display:none"></a>

    <!-- The Modal -->
    <div id="large-image-modal" class="modal">
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="large-image" />
    </div>
</div>
<div class="row all-images">
    @foreach (var image in Model.Images)
    {     
        <a href="" 
           data-tmbl-image="@Url.ProductTmblPicture(image.UrlPath, image.FileExtension)"
           data-large-image="@Url.ProductHiRezPicture(image.UrlPath, image.FileExtension)" 
           class="thumbnail small-image">
            <img src="@Url.ProductSmallPicture(image.UrlPath, image.FileExtension)"/>
        </a>
     }    
</div>
