@using MvcProject.Web.Areas.Public.ViewModels.Products
@using MvcProject.Web.Infrastructure.Sanitizer
@model IEnumerable<ProductCommentWithRatingViewModel>

@Html.Label("Comments")
@{
    if (!Model.Any())
    {
        <p id="no-comments">no comments yet</p>
    }
    else
    {
        // TODO: Remove logic from view if possible.
        int index = 0;
        bool currentUserHasCommented = false;

        foreach (var comment in Model)
        {
            if (comment.UserName == this.User.Identity.Name)
            {
                currentUserHasCommented = true;
            }

            <div class="row" id="@(string.Join("-", "product-comment", index.ToString()))">
                <p class="comment-metadata">By @Html.ActionLink(
                     comment.UserName,
                     "UserProfile",
                     "Users",
                     new { userName = comment.UserName }, 
                     null) on @comment.CommentCreatedOn. 
                    @if (comment.Rating != null)
                    {
                        @Html.Partial("_ProductVote", comment.Rating, new ViewDataDictionary(this.ViewData) { { "index", index.ToString() } })
                    }
                </p>
                <p class="comment-content">@comment.CommentContent</p>
            </div>
            index++;
        }

        if (!currentUserHasCommented)
        {
            <div class="row" id="@(string.Join("-", "product-comment", index.ToString()))"></div>
            Html.RenderAction("Create", "Comments", new { currentCommentId = string.Join("-", "product-comment", index.ToString()), index = index });
        }
    }
}