@using MvcProject.Web.Areas.Public.ViewModels.Products
@model ProductSideBarPartialViewModel

<table>
    <tr id="title">
        @*<th>@Html.LabelFor(m => m.Title)</th>*@
        <td colspan="2">@Html.DisplayFor(m => m.Title)</td>
    </tr>
    <tr id="seller">
        @*<th>@Html.LabelFor(m => m.Title)</th>*@
        <td colspan="2">
            offered by  <a href="/Public/Users/UserProfile?userName=@Model.SellerName">@Model.SellerName</a>
        </td>
    </tr>
    <tr id="rating">
        @*<th>@Html.LabelFor(m => m.Title)</th>*@
        <td colspan="2">@Html.DisplayFor(m => m.Rating, "Rating", new { index = "Id" })<br /></td>
        @*<td colspan="2">@Model.Rating</td>*@
    </tr>
    <tr id="unit-price">
        <th>@Html.LabelFor(m => m.UnitPrice, "Price")</th>
        <td>@Html.DisplayFor(m => m.UnitPrice)</td>
    </tr>
    <tr id="shipping">
        <th>@Html.LabelFor(m => m.ShippingPrice, "Shipping")</th>
        <td>@Html.DisplayFor(m => m.ShippingPrice)</td>
    </tr>
    <tr id="is-in-stock">
        @*<th>@Html.LabelFor(m => m.IsInStock, "Availability")</th>*@
        <td>
            @if (Model.IsInStock)
            {
                <p id="in">In Stock</p>
                <p id="quantity">@Model.QuantityInStock items available</p>
            }
            else
            {
                <p id="out">Out of Stock</p>
                <br />
            }
        </td>
    </tr>
    <tr id="category">
        <th>@Html.LabelFor(m => m.Category)</th>
        <td>@Html.ActionLink(Model.Category, "AllProductsOfCategory", "Products", new { category = Model.Category }, null)</td>
    </tr>
    <tr id="ref-number">
        <th>@Html.LabelFor(m => m.RefNumber)</th>
        <td>@Html.DisplayFor(m => m.RefNumber)</td>
    </tr>
</table>
