@using MvcProject.Web.Areas.Public.ViewModels.Products
@model ProductInfoPartialViewModel

<div id="properties">
    <div class="row">
        @Html.LabelFor(m => m.DescriptionProperties, "Product Details")
    </div>
    <div class="row">
        @Html.DisplayFor(m => m.DescriptionProperties)
    </div>
</div>

<div id="description">
    <div class="row">
        @Html.LabelFor(m => m.DescriptionContent, "Description")
    </div>
    <div class="row" id="description-content">
        @Html.DisplayFor(m => m.DescriptionContent)
    </div>
</div>

<div id="tags">
    <div class="row">
        @*<div class="col-md-1">
            @Html.LabelFor(m => m.Tags)
        </div>*@
        <div @*class="col-md-10"*@>
            @Html.DisplayFor(m => m.Tags)
        </div>
    </div>
</div>
