@using MvcProject.Web.Areas.Public.ViewModels.Comments
@model IEnumerable<CommentForProductFullViewModel>

@Html.Label("Comments")
@{
    if (!Model.Any())
    {
        <p id="no-comments">no comments yet</p>
    }
    else
    {
        foreach (var comment in Model)
        {
            <div class="row">
                <p id="comment-metadata">By @Html.ActionLink(
                     comment.UserName,
                     "UserProfile",
                     "Users",
                     new { userId = comment.UserId }, 
                     null) on @comment.CreatedOn. rated @comment.UserVote</p>
                <p id="comment-content">@comment.Content</p>
            </div>
        }
    }
}