@using MvcProject.Web.Areas.Public.ViewModels.Products
@model ProductSideBarPartialViewModel

<table>
    <tr id="title">
        <td colspan="2">@Html.DisplayFor(m => m.Title)</td>
    </tr>
    <tr id="seller">
        <td colspan="2">
            offered by  <a href="/Public/Users/UserProfile?userName=@Model.SellerName" title="@Model.SellerName">@Model.SellerName</a>
        </td>
    </tr>
    <tr id="rating">
        <td colspan="2">@Html.DisplayFor(m => m.Rating, "Rating", new { index = "Id" })<br /></td>
    </tr>
    <tr id="unit-price">
        <th>@Html.LabelFor(m => m.UnitPrice, "Price")</th>
        <td>@Html.DisplayFor(m => m.UnitPrice)</td>
    </tr>
    <tr id="shipping">
        <th>@Html.LabelFor(m => m.ShippingPrice, "Shipping")</th>
        <td>@Html.DisplayFor(m => m.ShippingPrice)</td>
    </tr>
    <tr id="is-in-stock">
        <td>
            @if (Model.IsInStock)
            {
                <span id="in-stock">In Stock</span>
                <p id="quantity">@Model.QuantityInStock items available</p>
            }
            else
            {
                <span id="out-of-stock">Out of Stock</span>
                <br />
                <br />
            }
        </td>
    </tr>
    <tr id="category">
        <th>@Html.LabelFor(m => m.Category)</th>
        <td>@Html.ActionLink(Model.Category, "SearchInCategory", "Search", new { category = Model.Category }, null)</td>
    </tr>
    <tr id="ref-number">
        <th>@Html.LabelFor(m => m.RefNumber)</th>
        <td>@Html.DisplayFor(m => m.RefNumber)</td>
    </tr>
    <tr id="add-to-cart">
        @Html.ActionLink("Add to Cart", "AddToCart", "Orders", new { productId = Model.Id, area = Areas.PublicAreaName }, new { @class = "button" })
    </tr>
</table>
