@using MvcProject.Web.Areas.Admin.ViewModels.Descriptions
@model DescriptionDetailsForProductViewModel

@{ 
    Layout = null;
}

@if (Model.Id != 0)
{
<div id="description-details" class="description-details container">
    <div class="row">
        <div class="col-md-2">@(Html.LabelFor(m => m.Id))</div>
        @*<div class="col-md-9">@Model.Id</div>*@
        <div class="col-md-9">@(Html.DisplayFor(m => m.Id))</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">@(Html.LabelFor(m => m.Content))</div>
        @*<div class="col-md-9">@Model.Content</div>*@
        <div class="col-md-9">@(Html.DisplayFor(m => m.Content))</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">@(Html.LabelFor(m => m.Properties))</div>
        <div class="col-md-9">@(Html.Partial("_DescriptionPropertiesGrid", Model.Properties))</div>
        @*<div class="col-md-9">@(Html.DisplayFor(m => m.Properties, new { properties = Model.Properties }))</div>*@
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">@(Html.LabelFor(m => m.CreatedOn))</div>
        @*<div class="col-md-9">@Model.CreatedOn</div>*@
        <div class="col-md-9">@(Html.DisplayFor(m => m.CreatedOn))</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">@(Html.LabelFor(m => m.ModifiedOn))</div>
        @*<div class="col-md-9">@Model.ModifiedOn</div>*@
        <div class="col-md-9">@(Html.DisplayFor(m => m.ModifiedOn))</div>
    </div>
</div>
}
