@model JustOrderIt.Web.Areas.Administration.ViewModels.Roles.RoleViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="container-fluid">
            <div class="row">
                @Html.HiddenFor(m => m.Id)
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.IsDeleted, "Mark as deleted")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.IsDeleted)
                    @Html.ValidationMessageFor(model => model.IsDeleted)
                </div>
            </div>
        </div>
    </fieldset>
}
