@using MvcProject.Web.Areas.Public.ViewModels.Images
@using MvcProject.Web.Areas.Public.ViewModels.Products
@using MvcProject.Web.Areas.Public.ViewModels.Properties
@using MvcProject.Web.Areas.Public.ViewModels.Comments

@model ProductFullViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row product-full-view">
    <div id="product-images" class="col-md-7">
        @Html.Partial(
            "_ProductImages",
            new ProductImagesPartialViewModel
            {
                //MainImageId = Model.MainImageId,
                Images = Model.Images ?? new List<ImageForProductFullViewModel>()
            },
            null)
    </div>
    <div id="product-sidebar" class="col-md-5">
        @Html.Partial(
            "_ProductSideBar",
            new ProductSideBarPartialViewModel
            {
                Id = Model.Id,
                Title = Model.Title,
                Category = Model.Category.Name,
                UnitPrice = Model.UnitPrice,
                ShippingPrice = Model.ShippingPrice,
                QuantityInStock = Model.QuantityInStock,
                IsInStock = Model.IsInStock,
                RefNumber = Model.EncodedId,
                Rating = Model.AllTimeAverageRating ?? 0,
                SellerName = Model.SellerName
            },
            null)
    </div>
</div>
<div class="row product-full-view" id="product-info">
    @Html.Partial(
        "_ProductInfo",
        new ProductInfoPartialViewModel()
        {
            DescriptionContent = Model.Description != null ? Model.Description.Content : string.Empty,
            DescriptionProperties = Model.Description != null ? Model.Description.Properties : new List<PropertyForProductFullViewModel>(),
            Tags = Model.Tags
        },
        null)
</div>
<div class="row product-full-view" id="product-reviews">
    @Html.Partial("_ProductCommentsWithRatings", Model.CommentsWithRatings, new ViewDataDictionary(this.ViewData) { { "productId", Model.Id } })
</div>

@*@section Styles{
    <link href="@Url.Content(StaticResourcesUrls.ProductFullViewmodel)" rel="stylesheet" type="text/css" />
}*@

@section Scripts{
    <script src="@Url.Content(StaticResourcesUrls.IgniteUiRatingHandler)"></script>
    <script src="@Url.Content(StaticResourcesUrls.BootstrapModalHelpers)"></script>

    <script>
        $('a.small-image').on('click', function onSmallImageClick(e) {
            e.preventDefault();
        });

        $('a.small-image').on('mouseenter', function onSmallImageMouseEnter(e) {
            e.preventDefault();

            var link = $(this),
                newSrc = link.attr('data-tmbl-image'),
                image = $('#image-in-focus'),
                largeHref = link.attr('data-large-image'),
                dateSuffix = new Date();

            image.attr("src", newSrc + "?" + dateSuffix.getTime());
            $('#modal-link').attr('href', largeHref + "?" + dateSuffix.getTime());
        });

        bootstrapModalHelpers.initializeLargeImageModal();

        function onNewCommentSuccess() {
            $('#leave-comment').attr('hidden', 'hidden');
        }
    </script>
}