@model MvcProject.Web.Areas.Administration.ViewModels.Images.ImageViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="container-fluid">
            <div class="row">
                @Html.HiddenFor(m => m.Id)
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.OriginalFileName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.OriginalFileName)
                    @Html.ValidationMessageFor(model => model.OriginalFileName)
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.FileExtension)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.FileExtension)
                    @Html.ValidationMessageFor(model => model.FileExtension)
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.UrlPath)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.UrlPath)
                    @Html.ValidationMessageFor(model => model.UrlPath)
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.ProductId, "Product Id")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.ProductId, new { OptionLabel = "Select Product..." })
                    @Html.ValidationMessageFor(m => m.ProductId)
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(m => m.IsDeleted, "Mark as deleted")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.IsDeleted)
                    @Html.ValidationMessageFor(model => model.IsDeleted)
                </div>
            </div>
        </div>
    </fieldset>
}
