@using JustOrderIt.Web.Areas.Public.ViewModels.Votes

@model VoteEditorModel

@{ 
    var formId = string.Format("castvote-form-{0}", Model.Id);
}

@using (Ajax.BeginForm(
    "VoteForOrderItem",
    "Votes",
    new { },
    new AjaxOptions()
    {
        HttpMethod = FormMethod.Post.ToString(),
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = formId,
        LoadingElementId = "ajax-loading-spinner",
        OnSuccess = "onCastVoteSuccess",
    },
    new { id = formId }
))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="input-group">
        <button id="submit-vote@(Model.Id)" type="submit" style="display: none"></button>
        
        @Html.Hidden(string.Format("OrderItems[{0}].ModelId", Model.Id), Model.Id)
        @Html.Hidden(string.Format("OrderItems[{0}].ProductId", Model.Id), Model.ProductId)
        @Html.Hidden(string.Format("OrderItems[{0}].UserId", Model.Id), Model.UserId)
        @Html.EditorFor(
            m => m.VoteValue,
            new
            {
                identifier = Model.Id,
                inputName = string.Format("OrderItems[{0}].VoteValue", Model.Id),
                htmlAttributes = new Dictionary<string, object> { { "title", string.Format("curent rating: {0:0.0}", Model.VoteValue) } }
            })
    </div>
}
