@using JustOrderIt.Web.Areas.Public.ViewModels.Products

@model List<CarouselData>

@{ 
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var area = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] != null
        ? HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"].ToString()
        : string.Empty;
}

@if (controller == "Home" && action == "Index" && area == Areas.PublicAreaName)
{
    <div id="myCarousel" class="carousel slide panel-collapse" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" @if(i == 0){ <text>class="active"</text> }></li>
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="item @if(i == 0){ <text>active</text> }">
                    <span>
                        <img src="@Url.ProductPicture(Model[i].ImageUrlPath, Model[i].ImageFileExtension, ImageSizes.Thumbnail)" alt="@Model[i].Title" />
                    </span>
                    <div class="container">
                        <div class="carousel-caption">
                            <h4>@(Model[i].Title)</h4>
                            <p>
                                @Html.ActionLink("See more", "Index", "Products", new { area = Areas.PublicAreaName, id = Model[i].EncodedId }, null)
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}