@using JustOrderIt.Web.Areas.Public.ViewModels.Votes

@model VoteEditorModel

@using (Ajax.BeginForm(
    "CastVote",
    "Votes",
    new { },
    new AjaxOptions()
    {
        HttpMethod = FormMethod.Post.ToString(),
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "castvote-form",
        LoadingElementId = "ajax-loading-spinner",
    },
    new { id = "castvote-form" }
))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <button id="submit-vote" type="submit" style="display: none"></button>
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.UserId)
    @Html.EditorFor(m => m.VoteValue, new { index = Model.ProductId, inputName = "VoteValue", htmlAttributes = new Dictionary<string, object> { { "title", string.Format("curent rating: {0:0.0}", Model.VoteValue) } } })
}
