@using JustOrderIt.Web.Areas.Public.ViewModels.Products

@model ProductImagesPartialViewModel

<div class="row image-in-focus">
    <img id="image-in-focus" src="@Url.ProductPicture(Model.MainImage.UrlPath, Model.MainImage.FileExtension, ImageSizes.Thumbnail)"/>
    <a id="modal-link" href="@Url.ProductPicture(Model.MainImage.UrlPath, Model.MainImage.FileExtension, ImageSizes.Large)" style="display:none"></a>

    <!-- The Modal -->
    <div id="large-image-modal" class="modal">
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="large-image" />
    </div>
</div>
<div class="row all-images">
    @foreach (var image in Model.Images)
    {     
        <a href="" 
           data-tmbl-image="@Url.ProductPicture(image.UrlPath, image.FileExtension, ImageSizes.Thumbnail)"
           data-large-image="@Url.ProductPicture(image.UrlPath, image.FileExtension, ImageSizes.Large)" 
           class="thumbnail small-image">
            <img src="@Url.ProductPicture(image.UrlPath, image.FileExtension, ImageSizes.Small)"/>
        </a>
     }    
</div>
