@using MvcProject.Web.Areas.Public.ViewModels.Categories
@using MvcProject.Web.Areas.Public.ViewModels.Search

@model FilteringViewModel

<div id="search-filters">
    @using (Html.BeginForm(
        "SearchByCategory",
        "Search",
        new { area = Areas.PublicAreaName },
        FormMethod.Post,
        new { id = "refinement-options-form" }
        ))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <button type="submit" value="OK" id="search-form-submit" style="visibility:hidden"></button>

        @Html.Hidden("categoryId", Model.CategoryId)
        @Html.HiddenFor(m => m.Query)
        
        @Html.EditorFor(m => m.SearchFilters)
    }
</div>