@using MvcProject.Web.Areas.Public.ViewModels.Categories
@using MvcProject.Web.Areas.Public.ViewModels.Search

@model CategorySearchViewModel

@Html.HiddenFor(m => m.Id, new { id = "searchCategoryId" })
@Html.HiddenFor(m => m.Query, new { id = "searchQuery" })
<div class="row">
    @Html.Partial("_TopSearchPanel")
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_RefineSearchBar", Model@*.SearchFilters*@, new ViewDataDictionary(this.ViewData) { { "categoryId", Model.Id }, { "query", Model.Query } })
    </div>
    <div class="col-md-10">
        @*@Html.Partial("_SearchResults", new SearchViewModel {  CategoryId = Model.Id, Query = Model.Query })*@
        @Html.Partial("_SearchResults", Model.Products)
    </div>
</div>


@section Scripts{
    @Html.Kendo().DeferredScripts()
    <script>
        //var searchFilters = [];
        //var searchFilter = {};
        var refinementOptions = [];
        var query = "";

        $(document).ready(function () {
            // Preselect search dropdown.
            var searchCategoryId = $('#searchCategoryId').val()
            $('#navbar-search-options option').each(function preselectCategory(index) {
                if ($(this).val() === searchCategoryId) {
                    $(this).attr('selected', 'selected');
                }
            });

            // Preselect search input value.
            var searchQuery = $('#searchQuery').val();
            $('#navbar-search-query').val(searchQuery);

            //$('.search-filter').each(function getFilterNames(index, filter) {
            //    searchFilters.push({ Name: $(filter).data('filter-name') });
            //});

            $('#SearchResultListView_pager').hide();
            //$('#SearchResultListView').hide();

            //$('.search-filter li').attr('cursor', 'pointer');

            console.log(searchCategoryId);
        });

        function submitForm(e) {
            // Refinement options CSS
            var options = $('.search-filter input');
            //$('.search-filter input').attr({ disabled: 'disabled' });
            options.attr({ disabled: 'disabled' });
            
            options.each(function getRefinementOptions(index) {
                var refinementOption = {};

                refinementOption.Value = $(this).val();
                refinementOption.SearchFilterId = $(this).data('filter-id');
                refinementOption.SelectionType = $(this).data('filter-selection-type');
                refinementOption.OptionsType = $(this).data('filter-options-type');
                refinementOption.Checked = $(this).prop('checked');

                refinementOptions.push(refinementOption);
            });

            //// Get selected filter option data
            //searchFilter.Value = $(e).val();
            //searchFilter.SearchFilterId = $(e).data('filter-id');
            //searchFilter.SelectionType = $(e).data('filter-selection-type');
            //searchFilter.OptionsType = $(e).data('filter-options-type');
            //searchFilter.Checked = $(e).prop('checked');

            query = $('#navbar-search-query').val();

            //// Reload ListView
            //$("#SearchResultListView").data("kendoListView").dataSource.read();

            //$('#refinement-options-form');


            //console.log($('#search-form-submit'));
            console.log($('#refinement-options-form'));


            //$(this).parents('form:first').find('#search-form-submit').click();


            $(e).parents('form:first').submit();

            //$('#refinement-options-form').submit();
        }

        function onListViewDataBinding(e) {
            //kendo.ui.progress(e.sender.element, true);

            //$('#SearchResultListView_pager').hide();
        }

        //function onListViewChange(e) {
        //    kendo.ui.progress(e.sender.element, true);
        //}

        function onListViewDataBound(e) {
            // Refinement options CSS
            $('.search-filter input').removeAttr('disabled');
            //$('.search-filter .options-label span').attr({ opacity: '100%', cursor: 'auto' });

            // Clear refinementOptions list. Otherwise, old options remain and are sent with the new ones.
            refinementOptions = [];

            $('#SearchResultListView_pager').show();

            // Activate Spinner on ListView
            //kendo.ui.progress(e.sender.element, false);
        }

        function readHandler(data) {
            return {
                //searchFilters : searchFilters,
                //searchFilter: searchFilter,
                refinementOptions: refinementOptions,
                //query: query
            }
        }
    </script>    
}