@model MvcProject.Web.Areas.Public.ViewModels.Comments.CommentPostViewModel

=============================
<p>Leave a comment:</p>

@using (Ajax.BeginForm(
    "CreateComment",
    "Comments",
    new { Area = Areas.PublicAreaName },
    //FormMethod.Post,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = (string)ViewData["currentCommentElementId"],
        HttpMethod = "Post",
        LoadingElementId = "loading-spinner"
    },
    new { @class = "new-comment-form" }
    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.TextBox("commentContent", value: "DEFAULT")

    @*<div class="row" id="@(string.Join("-", "product-comment", (int)ViewData["index"]))">
            <p class="comment-metadata"> By @Html.ActionLink(
                comment.UserName,
                "UserProfile",
                "Users",
                new { userName = comment.UserName },
                null) on @comment.CommentCreatedOn.
                @if (comment.Rating != null)
                {
                    @Html.Partial("_ProductVote", comment.Rating, new ViewDataDictionary(this.ViewData) { { "index", index.ToString() } })
                }
            </p>
            <p class="comment-content">@comment.CommentContent</p>
        </div>*@
}

<img id="loading-spinner" src="~/Content/Kendo/Silver/loading_2x.gif" style="display: none; text-align: center;">
<br />
=============================