@model MvcProject.Web.Areas.Common.ViewModels.Kendo.KendoTestViewModel

@using(Html.BeginForm("PostDatePicker", "Kendo", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div>
        @(Html.Kendo()
            .DateTimePickerFor(m => m.SomeDate)
            .Min(DateTime.Now.AddDays(-200))
            .HtmlAttributes(new { custom_attribute = "customvalue" })
            .Deferred())
    </div>

    <input type="submit" name="SUB"/>
}

@*<div>
    @(Html.Kendo()
            .ColorPicker()
            .Name("colorpicker")
            .Deferred())
</div>*@

@section Scripts {
    @Html.Kendo().DeferredScripts()
}