@using MvcProject.Web.Areas.Common.ViewModels.Home
@model IEnumerable<MvcProject.Web.Areas.Common.ViewModels.Home.ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}

@*<div>@Resources.Home.Index.Welcome</div>*@

@(Html.Kendo()
    .ListView<ProductViewModel>(Model)
    .Name("productsList")
    .TagName("div")
    .ClientTemplateId("list-products-template")
    .DataSource(source => source
        .ServerOperation(false)
        .Model(m => m.Id(vm => vm.Id))
        .Read(read => read.Action("Read", "Home"))
        .PageSize(5)
    )
    .Pageable()
    .Deferred())

<script type="text/x-kendo-tmpl" id="list-products-template">
    <div class="product">
        <img src="@Url.Content("~/Content/Images/Products/")#:Id%3==0?3:Id%3#.jpg" alt="#:Title# image" />
        <a href="">#:Title#</a>
        <p>#:kendo.toString(UnitPrice, "c")#</p>
    </div>
</script>

@section styles{
    <link href="@Url.Content("~/Content/Custom/listView.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Html.Kendo().DeferredScripts()
    <script>
        kendo.culture('@BundleConfig.UiCulture');
    </script>
}







@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@