@model MvcProject.Web.Areas.Common.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@(Html.Kendo()
    .DatePicker()
    .Name("datepickMe")
    //.Format("dd-MM-yyyy")
    .Deferred())

<div>@Resources.Home.Index.Welcome</div>

<div class="container">
    @for (var i = 0; i < Model.Products.Count(); i++)
    {
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <b>
                        <a href="/">@Html.DisplayFor(m => m.Products[i].Name, new { customClass = "btn btn-default" })</a>
                    </b>
                </div>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <span class="label label-default">7</span>
                </div>
                <div class="row">
                    <span class="label label-default">comments</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <p>@Html.DisplayFor(m => m.Products[i].Description)</p>
                </div>
                <div class="row">
                    Category:
                    <a class="btn btn-link">@Model.Products[i].Category</a>
                </div>
                <div class="row breadcrumb">
                    <a class="badge">cats</a>
                    <a class="badge">dogs</a>
                    <a class="badge">mice</a>
                    <a class="badge">suricat</a>
                    <a class="badge">cateri4e</a>
                </div>
            </div>
        </div>
        <hr />
    }
</div>

@section Scripts {
    @Html.Kendo().DeferredScripts()
    <script>
        kendo.culture('@BundleConfig.UiCulture');
    </script>
}







@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@