@model JustOrderIt.Web.Areas.Administration.ViewModels.Votes.VoteViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="container-fluid">
            <div class="row">
                @Html.HiddenFor(model => model.Id)
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(model => model.VoteValue)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.VoteValue)
                    @Html.ValidationMessageFor(model => model.VoteValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ProductId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ProductId, new { OptionLabel = "Select Product..." })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserId, new { OptionLabel = "Select User..." })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="editor-label">
                    @Html.LabelFor(model => model.IsDeleted)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IsDeleted)
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>
}

