@model MvcProject.Web.Areas.Admin.ViewModels.Properties.PropertyViewModel

<div class="container-fluid">
    <div class="row">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.DescriptionId, "Description Id")
        </div>
        <div class="editor-field">
            @Html.EditorFor(
                m => m.DescriptionId,
                new
                {
                    OptionLabel = "Select Description...",
                    DropDownName = "DescriptionId",
                    Text = "Id",
                    Value = "Id",
                    Action = "GetDataAsJson",
                    Controller = "Descriptions"
                })
            @Html.ValidationMessageFor(m => m.DescriptionId)
        </div>
    </div>

    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(m => m.IsDeleted, "Mark as deleted")
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>
    </div>
</div>

@section styles{
    @*NOTHING LOADS HERE*@
}

@section Scripts{
    <script>
        @*NOTHING LOADS HERE*@
    </script>
}