<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple MVC E-Commerce Application</title>
    <link rel="shortcut icon" href="@Url.Content(StaticResourcesUrls.ServerPathIcons + StaticResourcesUrls.Favicon)" />
    @Styles.Render(Bundles.StylesKendoCss)
    @Styles.Render(Bundles.PublicStylesIgniteUI)
    @Styles.Render(Bundles.StylesBootStrap)
    @Styles.Render(Bundles.PublicStylesCustomCss)
    @RenderSection("Styles", required: false)
    @Scripts.Render(Bundles.ScriptsJQuery)
</head>
<body>
    @(Html.Action("Carousel", "Home", new { Area = Areas.PublicAreaName }))
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <!-- Brand, Login -->
            <div class="row" id="nav-upper">
                <div class="col-md-5" id="nav-logo">
                    @Html.Partial("_NavLogo")
                </div>
                <div class="col-md-7" id="nav-login">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <!-- Search, Links, Dropdowns -->
            <div class="row container-fluid" id="nav-lower">
                <div class="col-md-2" id="nav-lower-left">
                    @Html.Partial("_NavLowerLeft")
                </div>
                <div class="col-md-7" id="nav-lower-middle">
                    @Html.Partial("_NavLowerMiddle")
                </div>
                <div class="col-md-3" id="nav-lower-right">
                    @Html.Partial("_NavLowerRight")
                </div>
            </div>
        </div>
    </nav>
    <!-- BODY -->
    <div id="body-content" class="container">
        @RenderBody()
    </div>
    <!-- FOOTER -->
    <footer class="panel-footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- SCRIPTS -->
    @Scripts.Render(Bundles.PublicScriptsJQueryUI)
    @Scripts.Render(Bundles.ScriptsBootstrap)
    @Scripts.Render(Bundles.ScriptsJQueryUnobtrusive)
    @Scripts.Render(Bundles.ScriptsJQueryValidate)
    @Scripts.Render(Bundles.PublicScriptsIgniteUI)
    @Scripts.Render(Bundles.ScriptsKendo)
    @*@Scripts.Render(Bundles.ScriptsSignalR)*@
    @Scripts.Render(Bundles.PublicScriptsCustom)
    @RenderSection("Scripts", required: false)
</body>
</html>